{% extends "base" %}

{% block main %}
<!--<div id="header" style="background-color:#999999;" align="center">-->
<!--    <h1 style="margin-top:0;margin-bottom:0;">Welcome {{user}}!</h1>-->
<!--</div>-->

<!--<div id="content" style="background-color:#aaaaaa;width:700px;-->
<!--                    float:right;margin-bottom:0;">-->
<!--    {% for blog in allBlog %}-->
<!--    <h2>{{blog.getTitle}}: {{blog.getContext}}</h2>-->
<!--    {% endfor %}-->
<!--</div>-->

<table border="0" width="1000px">
    <tbody>
        <tr bgcolor="#999999">
            <td width="150">时间</td>
            <td width="100">作者</td>
            <td width="600">标题</td>
            <td width="100">浏览</td>
        </tr>
        {% for blog in allBlog %}
        <tr bgcolor="#bbbbbb">
            <td width="150">{{blog.getCreateTime}}</td>
            <td width="100">{{blog.getAuthor}}</td>
            <td width="600"><a href="/detailBlog/{{blog.getId}}" target="_blank">{{blog.getTitle}}</a></td>
            <td width="100">{{blog.getViews}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}