<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>博客</title>
    <style>
            #container{
                margin:0 auto;

                background-color:#eeeeee;
            }
<!--            #submit-->
<!--            {-->
<!--                text-align:center;-->
<!--            }-->

        </style>
</head>
<body>

<div id="container" style="width:1000px;">
    <div id="header" style="background-color:#999999;" align="center">
        <h1 style="margin-bottom:0;">this is a test</h1>
    </div>

    <div id="welcome" style="height:200;width:1000px;">
        <h3 style="margin-bottom:0;" align="center" >Hello, {{ user.username }}!</h3>
    </div>

    <div id="menu" style="background-color:#cccccc;height:400px;width:400px;float:left;margin-bottom:0;">
        <h3>this is a test</h3>
    </div>

    <div id="content" style="background-color:#aaaaaa;height:400px;width:600px;
                    float:right;margin-bottom:0;" align="center">
    </div>
    <a href="/">返回首页</a>
</div>

</body>
</html>


<!--        <h3>title:{{testBlog.getTitle}}</h3>-->
<!--        <h3>views:{{testBlog.getViews}}</h3>-->
<!--        <h3>comment:{{testBlog.getCommentCount}}</h3>-->
<!--        <h3>update:{{testBlog.getUpdateTime}}</h3>-->
<!--        <h3>create:{{testBlog.getCreateTime}}</h3>-->
<!--        <h3>description:{{testBlog.getDescription}}</h3>-->
<!--        <h3>author:{{testBlog.getUser}}</h3>-->



<!--    <div id="submit" style="height:200;width:1000px;">-->
<!--        <form action="/" method="post" id="signinForm">-->
<!--            <div class="form-group">-->
<!--                <p id="error" class="text-danger"></p>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>Username</label>-->
<!--                <input name="username" type="text" class="form-control" placeholder="Username">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>Password</label>-->
<!--                <input name="password" type="password" class="form-control" placeholder="Password">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-outline-primary">Submit</button>-->
<!--        </form>-->
<!--    </div>-->

